:root {
    --primary-color: #44444C;
    --secondary-color: #8C8C8C;
    --black-color: #0B0909;
    --white-color: #D6D6D6;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://i.ibb.co/whcnckr/billie-dollar-money-background-1150-749.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main {
    margin: auto;
}



#tribute-info {
    opacity: 0.8;
    width: 75%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10%;
    overflow: hidden;
    padding: 2em;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 14px;
    border-radius: 50px 5px 5px 150px;
    float: right;
}

#tribute-info-left {
    opacity: 0.8;    
    max-width: 600px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10%;
    overflow: hidden;
    padding: 2em;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 14px;
    border-radius: 5px 50px 150px 5px;
    float: left;
    flex-direction: row-reverse;
    text-align: end;
}

#tribute-img {
    border-radius: 10px;
    max-width: 50%;
}

#tribute-section {
    max-width: 50%;
    padding-top: 10%;
    
}

#title-section {
    display: block;
    position: absolute;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: large;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#img-div {
    text-align: center;
    display: block;
    filter: grayscale(100%);
    width: 100%;
}

#image {
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
